<div class="nested-fields well well-compact">
  <div class="form-inline">
    <%=t('variant.headers.sku')%> <%= f.input :sku, :label => false, :placeholder => 'sku', class: 'form-control' %>
    <%=t('variant.headers.price')%> $ <%= f.input :price, :label => false, :placeholder => '0.0', class: 'form-control' %>
    <%=t('variant.headers.quantity')%> <%= f.input :quantity, :label => false, :placeholder => '10', class: 'form-control' %>
    <%= link_to_remove_association f, data: {:confirm => t('variant.remove')}, class: 'btn btn-default btn-xs' do %>
      <div class="glyphicon glyphicon-remove"> X</div>
    <% end %>
  </div>
  <div class="variant-options">
    <%= f.simple_fields_for :variant_options do |variant_option| %>
      <%= render 'variant_option_fields', :f => variant_option %>
    <% end %>
    <%= link_to_add_association 'add option', f, :variant_options %>
  </div>
</div>
