<div class="nested-fields well well-compact">
  <div class="form-inline">
    <%= f.input :sku, :label => false, :placeholder => 'sku', class: 'form-control' %>
    $ <%= f.input :price, :label => false, :placeholder => '0.0', class: 'form-control' %>
    <%= f.input :quantity, :label => false, :placeholder => '10', class: 'form-control' %>
    <%= select_tag "supported_options", options_from_collection_for_select(ProductOption.all, "supported_option_type", "supported_option_type"), onchange: "updateOptions(this)" %>
    <%= f.collection_select :option_ids, Option.all, "id", "option_value", { include_blank: true }, { multiple: true, id: "select_options" } %>
    <%= link_to_remove_association f, data: {:confirm => t('variant.remove')}, class: 'btn btn-default btn-xs' do %>
      <div class="glyphicon glyphicon-remove"> X</div>
    <% end %>
  </div>
</div>
